* {
  padding: 0;
  margin: 0;
}

/***************** PAGINA DE ENTRADA  *****************/
.body-entrada {
  background-color: whitesmoke;
}

.main-entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}

.main-entrada__a {
  font-size: 30px;
  font-family: 'Aboreto', cursive;
  margin-top: 20px;
  text-decoration: none;
  transform: translateX(80px);
  color: black;
  transition: 1s;
}

.main-entrada__a:hover {
  font-size: 30px;
  font-family: 'Aboreto', cursive;
  margin-top: 20px;
  text-decoration: none;
  background-color: black;
  color: white;
  transition: 1s;
}

.main-entrada__img {
  width: 500px;
  height: 500px;
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  padding-top: 10px;
}

footer img {
  width: 30px;
  height: 30px;
}

/***************** PAGINA DE INICIO *****************/

.logo {
  display: block;
  margin: auto;
  width: 350px;
  height: 200px;
}


.main-inicio img {
  width: 24%;
  height: 400px;
  object-fit: contain;
  margin-bottom: 40px;
}

.main-inicio img:hover {
  border: 2px solid black;
  border-radius: 100px;
}


/***************** PAGINA DE ACCESORIOS *****************/

.header-ropa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-ropa img {
  height: 200px;
  width: 400px;
}

.header-ropa a {
  font-size: 38px;
  font-family: 'Rajdhani', sans-serif;
}

.header-ropa__nav a {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
}

.main-accesorios__subtitulo {
  padding: 30px 0px;
  text-align: center;
  font-size: 48px;
  font-family: 'Indie Flower', cursive;
  color: darkred;
}


.main-accesorios__conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 50px;
    text-align: center;
  }

  .main-accesorios__conteiner img {
    width: 300px;
    height: 500px;
  }

  .main-accesorios__conteiner video {
    width: 300px;
    height: 500px;
  }


/***************** PAGINA DE ROPA *****************/


.header-ropa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-ropa img {
  height: 200px;
  width: 400px;
}

.header-ropa a {
  font-size: 38px;
  font-family: 'Rajdhani', sans-serif;
}

.header-ropa__nav a {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
}

.ropa-conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
  text-align: center;
}

.ropa-conteiner__hijo img {
  height: 300px;
  border: 1px solid black;
}

.ropa-conteiner__hijo p {
  text-align: center;
  margin: 20px 0px;
  font-size: 24px;
}

/***************** PAGINA DE TIENDA *****************/


body main #tienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
}

#tienda div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#tienda p {
  font-size: 24px;
}

#tienda img {
  width: 300px;
  height: 400px;
  padding-bottom: 30px;
}

.boton {
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  background: transparent;
}

.boton:hover {
  background: lightgrey;
}

/***************** MOBILE *****************/

@media (max-width:576px) {
  /***************** PAGINA MOBILE DE ENTRADA *****************/
  .main-entrada__a {
  transform: translateX(40px);
  }
  
  .main-entrada__img {
    width: 80%;
    height: 70%;
  }
  
  .footer {
    font-size: 12px;
    margin: 30px;
  }

  /***************** PAGINA MOBILE DE INICIO *****************/
  .logo {
    width: 250px;
    height: 150px;
  }

  .main-inicio {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main-inicio img {
    width: 45%;
    height: 50%;
  }

  .main-inicio img:hover {
    border: 1px solid black;
    border-radius: 50px;
  }

  /***************** PAGINA MOBILE DE ACCESORIOS *****************/

  
  .header-ropa img {
    height: 100px;
    width: 200px;
  }
  
  .header-ropa a {
    font-size: 12px;
  }
  
  .header-ropa__nav {
    text-align: center;
  }

  .main-accesorios__subtitulo {
    font-size: 24px;
  }

  .main-accesorios__conteiner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10px;
  }

  .main-accesorios__conteiner img {
    width: 70%;
    height: 400px;
    border: 1px solid black;
  }

  .main-accesorios__conteiner video {
    width: 70%;
    height: 400px;
    object-fit: cover;
    border: 1px solid black;
  }



/***************** PAGINA DE ROPA MOBILE *****************/




.ropa-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.ropa-conteiner__hijo img {
  width: 70%;
  height: 200px;
}

.ropa-conteiner__hijo p {
  font-size: 12px;
}

/***************** PAGINA MOBILE DE TIENDA *****************/

.header-tienda img {
  height: 100px;
  width: 200px;
}

body main #tienda {
  grid-template-columns: repeat(2, 1fr);
}

#tienda div {
  margin-bottom: 30px;
}

#tienda p {
  font-size: 18px;
}

#tienda img {
  width: 200px;
  height: 300px;
}
}