/* DESKTOP */

.moda-sostenible {
  display: flex;
  border: 2px solid black;
  border-radius: 50px;
  background-color: whitesmoke;
  max-width: 1200px;
  margin: 0 auto;
      img {
        max-width: 250px;
        padding: 40px;
        object-fit: contain;
      }
}

.moda-sostenible__titulo {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  color: darkred;
}

.moda-sostenible__parrafo {
  font-size: 26px;
  padding: 30px;
}

.producto-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tarjeta {
  width: 300px;
  margin: 20px;
  box-shadow: 10px 10px #ccc;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
        img {
            width: 100%;
            height: 320px;
            border-radius: 5px;
            margin-bottom: 10px;
  }
        h3 {
            font-size: 24px;
            margin-bottom: 10px;
  }
        p {
            font-size: 18px;
            margin-bottom: 20px;
  }
        a {
            background-color: #9d3d01;
            text-decoration: none;
            color: #fff;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
  }
        a:hover {
            background-color: #ba4013;
  }
}






/* MOBILE */
@media (max-width:576px) {
  .moda-sostenible {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    margin: 30px 20px;
          img {
            align-self: center;
            width: 200px;
            height: 300px;
            padding: 20px;
          }
  }
    
  .moda-sostenible__titulo {
    font-size: 16px;
    padding: 10px;
  }

  .moda-sostenible__parrafo {
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.tarjeta {
  width: 250px;
  box-shadow: 5px 5px #ccc;
        img {
            height: 280px;
  }
        h3 {
            font-size: 20px;
            margin-bottom: 5px;
  }
        p {
            font-size: 16px;
            margin-bottom: 10px;
  }
        a {
            font-size: 16px;
  }
}

}