/* DESKTOP */

.body-entrada {
  background-color: whitesmoke;
}

.main-entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}

.main-entrada__a {
  font-size: 30px;
  font-family: 'Aboreto', cursive;
  margin-top: 20px;
  text-decoration: none;
  transform: translateX(80px);
  color: black;
  transition: 1s;
    &:hover {
            background-color: black;
            color: white;
            transition: 1s;
    }
}

.main-entrada__img {
  width: 500px;
  height: 500px;
}




/* MOBILE */

@media (max-width:576px) {
  .main-entrada__a {
    transform: translateX(10px);
    font-size: 20px;
    }
    
    .main-entrada__img {
      width: 80%;
      height: 70%;
    }
}