/* DESKTOP */

.header-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
      img {
          height: 200px;
          width: 400px;
  }
      a {
          font-size: 38px;
          font-family: 'Rajdhani', sans-serif;
  }
}

.header-principal__nav a {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
}


/* MOBILE */

@media (max-width:576px) {
  .header-principal img {
    height: 100px;
    width: 200px;
  }  
  
  .header-principal__nav {
    text-align: center;
    a {
      font-size: 12px;
    }
  }
}